<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <title>BLACKJACK</title>
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
      <link rel="stylesheet" href="css/main.css">
  </head>
    <body ng-app="blackJack" ng-controller="gameCtrl">
      <h1> BlackJack </h1>
        <div>
          <img class="face_down_deck" ng-src = "face_down_deck.jpg" width="180" height="250">
        </div>
        <div>
          <img id="face_down_game" ng-src = "face_down_deck.jpg" width="180" height="250">
        <div ng-hide= "game.housePoints"> </div>
          <img id = "first pick" src="cards/{{game.pickFromDeck}}.png" width="180" height="250">
          <button  ng-click="game.stop()" class="btn btn-danger"> Stand </button>
        </div>
        <div>
          <img id="face_down_player" ng-src = "face_down_deck.jpg" width="180" height="250">
          <button ng-click="game.play()" class="btn btn-primary"> Hit </button> 
          <img class="pick" src="cards/{{game.player.pickFromDeckPlayer}}.png" width="180" height="250"> 
          <button  ng-click="game.player.stop()" class="btn btn-danger"> Stand </button>
              <p id='points' ng-show="game.playerPoints.length !== 0"> Your Points {{  game.playerPoints  }} </p>
        </div>
        <!-- ng-repeat(cards in pick) -->
          Player total {{game.playerTotal}} 
          House total {{game.houseTotal}}
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
       <script src="app.js"></script>
      <script src="gameCtrl.js"></script>
      <script src="deckSvr.js"></script>
      <script src="interface.js"></script>
    </body>
</html>